<div class="page-header">
  <h1>
    Users
    <small>managment</small>
  </h1>
</div>
<section class="panel panel-default">
  <!-- Data Tables -->
  <div class="col-md-12 bootstrap-grid sortable-grid ui-sortable">
    <div data-widget-editbutton="false" id="darkportletdarktable"
         class="powerwidget powerwidget-as-portlet-white powerwidget-sortable" style="" role="widget">
      <header role="heading">
        <div class="big-icons-buttons">
          <div class="col-md-12 space20">
            <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_user_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#myModal', :class => "btn btn-s-md btn-dark move20left"} %>
            <div class="btn-group pull-right">
              <button class="btn btn-green dropdown-toggle move20right" data-toggle="dropdown">
                Export <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu dropdown-light pull-right">
                <li>
                  <%= link_to "CSV", items_path(format: "csv") %>
                </li>
                <li>
                  <%= link_to "Excel", items_path(format: "xls") %>
                </li>
                <li>
                  <a href="#">PDF</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="inner-spacer" role="content">
        <table id="datatable" class="table-dark table table-striped table-bordered table-hover margin-0px">
          <thead>
          <tr>
            <th width="5%" colspan="2">Avatar</th>
            <th width="30%">Name</th>
            <th width="30%">Email</th>
            <th width="5%">Role</th>
            <th width="5%">Sign In Ip</th>
            <th width="5%">Edit</th>
            <th width="5%">Delete</th>

          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
          <tr>
            <td width="1%"><span class="num"><%= user.id %></span></td>
            <td><span class="thumb-sm avatar pull-left">
              <%= image_tag(user.avatar) if user.avatar? %>
            </span></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.current_sign_in_ip %></td>
            <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_user_path(user) %></td>
            <td><%= link_to("delete", user_path(user), :data => {:confirm => "Are you sure?"}, :method => :delete, :class => 'button-xs') unless user == current_user %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /Data Tables -->
</section>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

