<p id="notice"><%= notice %></p>

<p>
  <strong>Titlegr:</strong>
  <%= @item.titlegr %>
</p>

<p>
  <strong>Titleen:</strong>
  <%= @item.titleen %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
