<!DOCTYPE html>
<html lang="en" class="app">
	<head>
		<meta charset="utf-8" />
		<title>Taverna Manolis | Administration</title>
		<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
		<%= stylesheet_link_tag "animate.css" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<section class="vbox">
			<%= render partial: 'layouts/header', locals: {current_user: current_user} %>
			<section>
				<!-- SECTION hbox -->
				<section class="hbox stretch">
					<%= render partial: 'layouts/aside', locals: {current_user: current_user} %>
					<!-- #Content -->
					<section id="content">
						<section class="vbox">
							<section class="scrollable padder"> 
								<%= yield %>
							</section>
						</section>
					</section>
					<!-- / #Content -->
				</section>
			</section>
		</section>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= custom_bootstrap_flash %>
	</body>
</html>
